name: Build Flutter APK

on:
  repository_dispatch:
    types: [build_apk]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # الخطوة الأهم: حقن الكود القادم من Supabase داخل ملف main.dart
      - name: Inject Custom Code from Supabase
        run: |
          echo "${{ github.event.client_payload.page_code }}" > lib/main.dart

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      # رفع الـ APK وتسميته باسم التطبيق المبعوث من قاعدة البيانات
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.client_payload.app_name }}-apk
          path: build/app/outputs/flutter-apk/app-release.apk
